.container {
	width: 700px;
	margin: 0 auto;
}

@media (max-width: 960px) {
	/* For screen <960px, this CSS will be read */
	.container {
		width: 700;
	}
}
@media (max-width: 720px) {
	/* For screen <720px, this CSS will be read */
	.container {
		width: 500;
	}
}
@media (max-width: 540px) {
	/* For screen <540px, this CSS will be read */
	.container {
		width: 300;
	}
}